// profile screen = PS
.bgprofilePS {
    background-image : url('../../assets/bg6.jpeg');
    width: 100% ;

}
.fontsizePS {
    font-size: 28px;
}
.bordertop0pxPS {
    border-top: 0px !important;
}
.borderbottom0pxPS {
    border-bottom: 0px !important;
}
.borderleftPS {
    border-left: solid !important;
    border-color: darkgray !important;
}
.iconfacebook {
    color: blue;
}
.icontwitter {
    color: deepskyblue;
}
.icongoogle {
    color: red;
}
.iconcall {
    color: green;
}
