// receipt screen = ReceS
.textcenterReceS {
    text-align: center;
}
.fontsizeReceS {
    font-size: 30px ;
}
.fontsizeReceS2 {
    font-size: 27px ;
}
.fontsizeReceS3 {
    font-size: 48px ;
}
.fontsizeReceS4 {
    font-size: 36px ;
}
.borderbottomReceS {
    border-bottom: solid ; 
    border-color: darkgray ; 
}
.heightbntReceS {
    height: 50px;
}