    // calculate screen = CalcS
    page-calculate {
        .borderCalcS {
            border-right: solid;
            border-color: darkgray;
        }
        .fontsizebntnumCalcS {
            font-size: 20px;
        }
        .fontsizetotalCalcS {
            font-size: 20px;
        }
        .sizebntCalcS {
            font-size: 25px;
        }
        [verti-align] {
            display: flex!important;
            align-content: center!important;
            align-items: center!important;
        }
        [scrollsize1] {
            height: 99% !important;
        }
        .heightscrollboxmenulistHS {
            height: 100% !important;
        }
        [orderMenuHeader] {
            margin-bottom: 5px;
        }
        [gridheight] {
            height: 100% !important; // overflow: hidden;
        }
        [colheight] {
            height: 99%;
        }
        [bottomGrid] {
            position: absolute;
            bottom: 0; // 
        }
        [listPayment] {
            width: 100%;
            margin-bottom: -5px;
        }
        [fontColor] {
            color: #488aff;
        }
    }