// home screen = HS
page-home {
    .borderHS {
        border: solid !important;
    }
    .borderrightHS {
        border-right: solid;
        border-color: darkgray;
    }
    [verti-align] {
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    }
    [bgImg] {
        background: url(../../assets/product.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 80%;
        height: 246px;
        margin: auto;
        z-index: 2;
        position: relative;
    }
    [borderCalcS] {
        border-right: solid;
        border-color: lightgray;
    }
    [colheight] {
        height: 99%;
    }
    [gridheight] {
        height: 100% !important; // overflow: hidden;
    }
    .ion-scroll {
        white-space: nowrap; // height: 600px; // better to calculate the device height and set it offsetting the bottom StatusBar or margin, etc.
    }
    .segment-ios .segment-button {
        font-size: 2.0rem;
    }
    [headTxt] {
        text-align: left;
        font-weight: bold; // mix-blend-mode: difference;
    }
    [contentTxt] {
        text-align: right;
        font-weight: bold;
    }
    [gridmenu] {
        height: 100%;
    }
    [scrollsize1] {
        height: 68% !important;
    }
    [scrollsize2] {
        height: 100% !important;
    }
    [prdPosition] {
        font-weight: bold;
        font-size: 16px;
        color: black;
        mix-blend-mode: color-dodge;
    }
    [row2] {
        height: 100%;
    }
    [card-content] {
        padding: 3px 0px 3px;
    }
    [imgcard] {
        // position: relative;
        height: 150px !important;
        width: 250px !important;
        display: inline-table;
    }
    [imgstyle] {
        text-align: center; // position: absolute;
        overflow: hidden !important; // margin: auto;
        // max-height: 100%;
        // max-width: 40%;
        width: 100% !important; // 
        height: auto !important;
    }
    .crop {
        width: 250px;
        height: 150px;
        overflow: hidden;
    }
    .crop img {
        width: 250px;
        height: auto; // margin: -75px 0 0 -100px;
    }
    .toasttextcenter {
        text-align: center;
    }
    [orderMenuHeader] {
        margin-bottom: 5px;
    }
    [calBTN] {
        width: 100%;
        height: 100%;
    }
    [row2Height] {
        height: 15%;
    }
}